<%
  on_current_page = current_page?(RailsMail::Engine.routes.url_helpers.email_path(email))
  highlight_class = on_current_page ? 'bg-gray-300' : ''
%>
<%= link_to RailsMail::Engine.routes.url_helpers.email_path(email), 
      class: "block px-3 py-2 rounded-md hover:bg-gray-200 #{highlight_class} active:bg-gray-300 focus:bg-gray-300", 
      data: { 
        "turbo-frame": "email_content",
        "turbo-action": "advance",
        "turbo-prefetch": "false",
        "email-highlight-target": "link",
        "email-id": email.id,
        action: "click->email-highlight#highlight"
      } do %>
  <div class="text-sm font-medium text-gray-900 truncate"><%= email.subject %></div>
  <div class="text-xs text-gray-500">
    <span class="truncate"><%= email.from %></span>
    <time 
      data-controller="timeago" 
      data-timeago-datetime-value="<%= email.created_at.iso8601 %>" 
      data-timeago-refresh-interval-value="1000" 
      data-timeago-include-seconds-value="true" 
      class="ml-2 text-gray-400"><%= time_ago_in_words(email.created_at) %> ago</time>
  </div>
<% end %> 