<!DOCTYPE html>
<html>
  <head>
    <title>RailsMail - <%= yield(:title) if content_for?(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= action_cable_meta_tag if defined?(::ActionCable) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.link rel: "stylesheet", href: frontend_static_path(:style, format: :css, v: RailsMail::VERSION, locale: nil), nonce: content_security_policy_nonce %>
    
    <%= tag.script "", src: frontend_static_path(:tailwind, format: :js, v: RailsMail::VERSION, locale: nil), nonce: content_security_policy_nonce %>

    <% importmaps = RailsMail::FrontendsController.js_modules.keys.index_with { |module_name| frontend_module_path(module_name, format: :js, locale: nil) } %>
    <%= tag.script({ imports: importmaps }.to_json.html_safe, type: "importmap", nonce: content_security_policy_nonce) %>
    <%= tag.script "", type: "module", nonce: content_security_policy_nonce do %> import "application"; <% end %>    

  </head>

  <body class="bg-gray-100">
    <div class="flex h-screen">
      <!-- Sidebar -->
      <div class="w-80 bg-white border-r border-gray-200 overflow-y-auto">
        <div class="flex items-center justify-between p-4 border-b">
          <div class="flex items-center">
            <%= link_to root_path, class: "text-gray-900" do %>
              <h1 class="text-xl font-bold">Rails Mail</h1>
            <% end %>
          </div>
          
          <%= button_to destroy_all_emails_path, 
              class: "text-sm text-gray-600 hover:text-gray-900",
              form: { data: { turbo_confirm: "Are you sure you want to clear all emails?" } },
              method: :delete do %>
            <div class="flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
              Clear All
            </div>
          <% end %>
        </div>
        <nav class="px-2">
          <%= render "rails_mail/shared/email_sidebar" %>
        </nav>
      </div>

      <!-- Main content -->
      <div class="flex-1 overflow-y-auto">
        <div class="p-8">
          <turbo-frame id="email_content">
            <%= yield %>
          </turbo-frame>
        </div>
      </div>
    </div>
  </body>
</html> 